<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shawarma | Menu</title>

  <script src="jquery.js"></script>
  <script src="vue.js"></script>
  <link href="fontawesome/css/all.min.css" rel="stylesheet">
  <link href="tailwind.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  </link>
</head>

<body>

  <!-- background -->


  <main id="app" class="relative z-30 border">

    <!-- Header -->
    <div class="hidden md:block">
      <header class="bg-prim font-prim text-white text-sm flex fixed w-full px-4 py-8 cursor-pointer items-center"
        style="z-index: 1000">
        <div class="flex-1">
          <span class="px-2 border-r">عربي</span>
          <span class="px-2">JOIN OUR FAMILY</span>
        </div>
        <div class="flex-1 flex justify-center">
          <a href="index.html">
            <img src="assets/logo-3.png" alt="logo" class=" h-10">
          </a>
        </div>
        <div class="menu flex-1 flex justify-end">
          <a href="/index.html">HOME</a>
          <a href="/menu.html" class="px-6">OUR FOOD</a>
          <a href="/aboutus.html">ABOUT US</a>
        </div>
      </header>
    </div>


    <!-- banner -->
    <section class="banner sm:h-screen-half overflow-hidden relative z-30">
      <img src="assets/banner.jpg" alt="pizza" class="w-screen">
    </section>


    <div class="w-full">

      <!-- WATER MARK BADGES -->
      <!-- <div class="fixed top-0 left-0 w-screen overflow-hidden bages px-16">
        <div class="flex w-full p-4 justify-between">
          <div>
            <img v-for="(item, i) in badges" :src="item" class=" w-40 mt-8" alt="badge">
          </div>
          <div class="">
            <img v-for="(item, i) in rev" :src="item" class="w-40 mt-8" alt="badge">
          </div>
          <div >
            <img v-for="(item, i) in rev" :src="item" class="w-40 mt-8" alt="badge">
          </div>
        </div>
      </div> -->

      <!-- WATER MARK BADGES -->
      <div class="fixed top-100 left-0 w-screen overflow-hidden z-10 bages">
        <div class="flex w-full px-24">
          <div class="r-1">
            <img src="assets/b10.png" class="w-48 mt-8 inline-block" alt="badge">
            <img src="assets/b4.png" class="w-48 mt-8 inline-block" alt="badge">
          </div>
          <div class="flex-grow">.</div>
          <div class="r-2">
            <img src="assets/b12.png" class="w-64 mt-8 inline-block" alt="badge">
            <img src="assets/b6.png" class="w-48 mt-8 inline-block" alt="badge">
          </div>
        </div>
      </div>

      <!-- OUR FOOD -->
      <section class="relative text-center py-12 w-lg m-auto z-50">
        <h1 class="flex items-center justify-center font-prim text-dark">
          <span class="text-lg px-4">OUR</span>
          <span class="text-3xl border-l-2 border-black px-4"> FOOD </span>
        </h1>
        <p class="mt-4 text-gray-500 font-light text-sm">Here you will find our full menu</p>

        <!-- Navigation -->
        <div class="mt-12 flex flex-wrap w-full font-sec justify-center cursor-pointer">
          <div v-for="(menu, i) in meals" :key="i" class="">
            <a class="inline-block btn text-prim mx-1 my-1 w-48 bg-white " :href="'#'+i">{{menu.name}}</a>
          </div>
        </div>

        <section class="menu mt-12 m-auto" v-for="(menu, i) in meals" :key="i" :id="i">
          <h2 class="font-prim text-prim font-prim relative rounded justify-between title text-3xl">
            {{menu.name}}
          </h2>
          <div class="flex flex-wrap justify-center mt-8 w-full  m-auto w-full md:w-2/3 ">
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4  p-2 " v-for="(item, j) in menu.meals" :key="j">
              <div class="relative cursor-pointer tans-all hover:shadow-2xl bg-white">
                <img class="m-auto w-full h-full object-cover" :src="item.image" alt="Shawarma">
                <h2 class="text-dark text-sm p-4">{{item.name}}</h2>
                <div class="flex justify-center pb-4">
                  <div v-if="item.isSpicy" class="inline-block px-2 rounded-full border  text-xs mr-1">Spicy</div>
                  <div v-if="item.isNormal" class="inline-block px-2 rounded-full border text-xs">Normal</div>
                  <div v-if="item.isHomos" class="inline-block px-2 rounded-full border text-xs">Homos</div>
                  <div v-if="item.isTahina" class="inline-block px-2 rounded-full border text-xs">Tahina</div>
                </div>
              </div>

              <!-- <p class="font-prim font-prim text-dark text-xs">{{item.price}}</p> -->
            </div>
          </div>
        </section>
      </section>
    </div>

    <div class="h-64 w-screen overflow-hidden relative z-50">
      <img src="assets/bg.png" alt="banner" class="w-screen h-screen fit-cover">
    </div>


    <div class="">
      <footer class="flex flex-wrap p-12 border text-gray-700 bg-white relative z-30">
        <div class="loc w-full text-center sm:text-left md:w-2/6 font-hairline text-sm p-4">
          <img src="assets/logo-2.png" alt="logo" class="w-64 mb-4">
          <p>
            <i class="fas fa-phone"></i> {{contact.phone}}
          </p>
          <p>
            <i class="fas fa-envelope"></i> {{contact.email}}
          </p>
          <p>
            <i class="fas fa-map-marker-alt"></i> {{contact.address}}
          </p>
        </div>
        <div class="w-full text-center sm:text-left sm:w-1/3 md:w-1/6 md links text-sm p-4">
          <h1 class="font-hairline text-gray-900 text-lg mb-2">Quick Links</h1>
          <p>Home</p>
          <p>About us</p>
          <p>Contact</p>
          <p>Carear</p>
        </div>
        <div class="w-full text-center sm:text-left sm:w-1/3 md:w-1/6 links text-sm p-4">
          <h1 class="font-hairline text-gray-900 text-lg mb-2">Follow Us</h1>
          <p> <i class="fab fa-twitter"></i> Twitter</p>
          <p> <i class="fab fa-instagram"></i> Instagram</p>
          <p><i class="fab fa-facebook"></i> Facebook</p>
          <p> <i class="fab fa-youtube"></i>Youtube</p>
        </div>
        <div class="w-full text-center sm:text-left sm:w-1/3 md:w-1/6 links text-sm p-4">
          <h1 class="font-hairline text-gray-900 text-lg mb-2">Download Our App</h1>
          <p>ANDROIND</p>
          <p>IPHONE</p>
        </div>
      </footer>
    </div>

  </main>



  <script>
    const json = $.getJSON('mock.json').then((mock) => {

      const meals = mock.meals.map((item) => {
        let meals = item.meals.map((meal) => {
          console.log()
          return {
            ...meal,
            image: `assets/menu/${item.name}/${meal.name}.jpg`,
            isSpicy: meal.tags && meal.tags.toLowerCase().includes('spicy'),
            isNormal: meal.tags && meal.tags.toLowerCase().includes('normal'),
            isHomos: meal.tags && meal.tags.toLowerCase().includes('homos'),
            isTahina: meal.tags && meal.tags.toLowerCase().includes('tahina')
          }
        });
        return {
          ...item,
          meals,
        }
      });
      var app = new Vue({
        el: '#app',
        data: {
          meals,
          contact: mock.contactUs,
          badges: new Array(13).fill(0).map((item, i) => 'assets/b' + (i + 1) + '.png'),
          rev: new Array(13).fill(0).map((item, i) => 'assets/b' + (i + 1) + '.png').reverse()
        },
      });

    })

  </script>
</body>

</html>