@import url("https://fonts.googleapis.com/css?family=Barriecito|Lalezar&display=swap");
@font-face {
  font-family: "font";
  src: url("./assets/fonts/Blackout-Midnight.ttf");
}

body {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
}

.flex {
  display: flex;
}

:root {
  --prim: #fc5c42;
  --sec: #fd8b35;
}

.font-prim {
  font-family: "font";
  letter-spacing: 3px;
}

.font-sec {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.font-xs {
  font-size: 12px;
}

/* RESET CLASSES */
button:active,
button:focus,
button {
  outline: none;
  border: none;
  box-shadow: none;
}

/* UTILITY CLASSES */
.bg-prim {
  background: var(--prim);
}

.bg-sec {
  background: var(--sec);
}

.text-prim {
  color: var(--prim);
}

.text-sec {
  color: var(--sec);
}

.border-prim {
  border-color: var(--prim);
}

.border-sec {
  border-color: var(--sec);
}

.bg-trans {
  background: rgba(0, 0, 0, 0.7);
}

.bg-dark {
  background: rgb(22, 22, 22);
}
.text-dark {
  color: rgb(37, 37, 37);
}

.dash {
  border: orange dashed 1px;
}

.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}

.menu span {
  padding: 0px 16px;
}

.btn {
  border: 1px var(--sec) solid;
  padding: 0.5rem 1.5rem;
  transition: all 1s;
}

.btn:hover {
  background: var(--prim);
  color: #fc5c42;
}

.btn:active,
.btn:focus {
  border: 1px var(--sec) solid;
  background: var(--sec);
  color: #fc5c42;
}

.btn-gray {
  padding: 0.5rem 1.5rem;
  transition: all 1s;
}

.btn-gray:active,
.btn-gray:focus {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer .links {
  font-weight: lighter;
}

footer .links p {
  margin-top: 0.7rem;
}

footer .loc p {
  margin-top: 0.5rem;
}
footer i {
  padding-right: 0.5rem;
}

.tans-all {
  transition: all 0.2s ease-in;
}

@media screen and (min-width: 992px) {
  .title:after,
  .title::before {
    content: "";
    display: inline-block;
    border-top: 1px solid var(--prim);
    width: 100%;
    margin: 10px 20px;
  }
}

.title2 {
  border-top: 1px solid var(--prim);
  width: 100%;
  margin: 5px 5px;
}

.h-screen-half {
  height: 50vh;
  max-height: 50vh;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.w-lg {
  width: 90%;
}

.slider {
  display: flex;
  align-content: flex-start;
}

.slider .item {
  margin-left: 8px;
  margin-right: 8px;
}

.bg-orange {
  background: #f58a3a;
}

.text-orange {
  color: #f58a3a;
}

.horizontal {
  height: 370px;
  flex-flow: column wrap;
  overflow: hidden;
}

.bg-grid {
  position: relative;
  background: white;
}

.bg-grid::after {
  background: url(assets/grid.png) repeat;
  opacity: 0.2;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
}

.bages {
  opacity: 0.4;
}

.r-1 {
  transform: rotate(2deg);
}

.r-2 {
  transform: rotate(-4deg);
}

.top-100 {
  top: 150px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.bg-dark-trans {
  background: rgb(248, 248, 248);
}

.trans-1 {
  transition: all 0.5s ease-in-out;
}

.zoom-in {
  transition: all 0.5s ease-in-out;
}
.zoom-in:hover {
  transform: scale(1.3);
}

.h-80 {
  height: 335px;
}

.bg-white-trans {
  background: rgba(255, 255, 255, 0.95);
}

.p-2-5 {
  padding: 11px;
}

.adminBanner {
  height: 400px;
}

.map {
  height: 300px;
}

@media screen and (min-width: 1024px) {
  .map {
    height: 500px;
  }
}

#gmap_canvas {
  height: 300px;
}

.meal {
  width: 10rem;
  height: 10rem;
}

@media (min-width: 576px) {
  .meal {
    width: 14rem;
    height: 14rem;
  }
}

@media (min-width: 768px) {
  .meal {
    width: 13rem;
    height: 13rem;
  }
}

@media (min-width: 992px) {
  .meal {
    width: 17rem;
    height: 17rem;
  }
}

@media (min-width: 1200px) {
  .meal {
    width: 15rem;
    height: 15rem;
  }
}

@media (min-width: 1366px) {
  .meal {
    width: 15rem;
    height: 15rem;
  }
}

.banner {
  height: 20rem;
}

@media (min-width: 576px) {
  .banner {
    height: 20rem;
  }
}

@media (min-width: 768px) {
  .banner {
    height: 42rem;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 42rem;
  }
}

@media (min-width: 1200px) {
  .banner {
    height: 42rem;
  }
}

@media (min-width: 1366px) {
  .banner {
    height: 50rem;
  }
}

.locatorImage {
  width: 100%;
  height: 15rem;
}

@media (min-width: 576px) {
  .locatorImage {
    width: 100%;
    height: 22rem;
  }
}

@media (min-width: 768px) {
  .locatorImage {
    width: 100%;
    height: 15rem;
  }
}

@media (min-width: 992px) {
  .locatorImage {
    width: 100%;
    height: 16rem;
  }
}

@media (min-width: 1200px) {
  .locatorImage {
    width: 100%;
    height: 16rem;
  }
}

@media (min-width: 1366px) {
  .locatorImage {
    width: 100%;
    height: 27rem;
  }
}

.channels {
  height: 12rem;
}

@media (min-width: 576px) {
  .channels {
    height: 17rem;
  }
}

@media (min-width: 768px) {
  .channels {
    height: 8rem;
  }
}

@media (min-width: 992px) {
  .channels {
    height: 11rem;
  }
}

@media (min-width: 1200px) {
  .channels {
    height: 13rem;
  }
}

@media (min-width: 1366px) {
  .channels {
    height: 20rem;
  }
}

.locatorBtn {
  width: 10rem;
}

.constactUsSection {
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.py-half {
  padding-top: 6px;
  padding-bottom: 6px;
}

.px-sm {
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  min-height: 85px;
}

.navHeader {
  min-height: 4rem;
}

.navMenu li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.z-60 {
  z-index: 60;
}

.text-box {
  height: 110px;
}
.screen {
  height: 500px;
}

.parallax {
  /* The image used */
  /* background-image: url("assets/bg.png"); */

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trans {
  background: rgba(0, 0, 0, 0.3);
}


.catCard {
  transition: all 0.3s ease-in-out;
}

.catCard:hover {
  margin-top: -15px;
}


.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.w-channels {
  width: 59rem;
}

@media (min-width: 576px) {
  .w-channels {
    width: 100%;
  }
}

 @media (min-width: 768px) {
  .w-channels {
    width: 59rem;
  }
}

@media (min-width: 992px) {
  .w-channels {
    width: 59rem;
  }
}

@media (min-width: 1200px) {
  .w-channels {
    width: 59rem;
  }
}

@media (min-width: 1366px) {
  .w-channels {
    width: 59rem;
  }
}


.w-menu {
  width: 71rem;
}

@media (min-width: 576px) {
  .w-menu {
    width: 100%;
  }
}

 @media (min-width: 768px) {
  .w-menu {
    width: 71rem;
  }
}

@media (min-width: 992px) {
  .w-menu {
    width: 71rem;
  }
}

@media (min-width: 1200px) {
  .w-menu {
    width: 71rem;
  }
}

@media (min-width: 1366px) {
  .w-menu {
    width: 71rem;
  }
}



.channelmages {
  width: 311px;
  height: 311px;
}

@media (min-width: 576px) {
  .channelmages {
    width: 100%;
    height: 311px;
  }
}

 @media (min-width: 768px) {
  .channelmages {
    width: 311px;
    height: 311px;
  }
}

@media (min-width: 992px) {
  .channelmages {
    width: 311px;
    height: 311px;
  }
}

@media (min-width: 1200px) {
  .channelmages {
    width: 311px;
    height: 311px;
  }
}

@media (min-width: 1366px) {
  .channelmages {
    width: 311px;
    height: 311px;
  }
}